
    @media screen and (max-width: 750px) {
        body {
            width: 100%;
            height: 80%;
            background-image: url(http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/081/223/125/81223125_1560161529492_1_600x600.JPG);
            background-position: center 34%;
            background-size: cover;
            color: black
        }
        .background {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .title {
            margin-top: 30px;
            color: #684f7e;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .logo {
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center;
        }
        .main {
            width: 250px;
            height: 300px;

        }
        @keyframes waviy {
            0%, 40%, 100% {
                transform: translateY(0)
            }
            20% {
                transform: translateY(-20px)
            }
        }

        .streamingtxt {
            width: 90%;
            text-align: center;
            padding: 20px;
            color: #987cad;
            background-color: aliceblue; rgba( 255, 255, 255, 0.5 );

        }

        #login {
            width: 100%;
            background-color: skyblue;
            border-color: transparent;
            color: black;
        }
        .account {
            width: 227px;
            display: block;
            margin-bottom: 3px;
            padding: 3px;
            border: 1px solid lightgray;
            border-radius: 3px;
        }
        #alert {
            border-color: transparent;
        }

        .baststreaming {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            margin-left: 20px;
        }

        .titlepost {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }

        .waviy {
            position: relative;
            font-size: 30px;
        }
        .waviy span {
            font-family: 'Alfa Slab One', cursive;
            position: relative;
            display: inline-block;
            color: rgba(106, 72, 138, 0.37);
            text-transform: uppercase;
            animation: waviy 1.8s infinite;
            animation-delay: calc(.1s * var(--i));

        }
    }



    .baststreaming {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin-left: 20px;
    }

    .ratio {
        width: 700px;
        height: 500px;
        margin: 0 auto;
    }

    .streamingtxt {
        width: 50%;
        text-align: center;
        color: #987cad;
        margin-right: 4%;

    }
    .titlepost {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    .main {
        margin: 0px auto;
    }

    .title {
        margin: 60px auto 60px auto;
        color: #684f7e;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .waviy {
              position: relative;
              font-size: 30px;
            }
    .waviy span {
                  font-family: 'Alfa Slab One', cursive;
                  position: relative;
                  display: inline-block;
                  color: rgba(106, 72, 138, 0.37);
                  text-transform: uppercase;
                  animation: waviy 1.8s infinite;
                  animation-delay: calc(.1s * var(--i));

                }

    button{
              background: rgba(141, 89, 171, 0.82);
              color:#fff;
              border:none;
              position:relative;
              height:40px;
              font-size:1.6em;
              padding:0 2em;
              cursor:pointer;
              transition:800ms ease all;
              outline:none;
              margin-bottom: 4%;
        }
        button:hover{
          background: #ffffff;
          color: #6326a6;
        }
        button:before,button:after{
          content:'';
          position:absolute;
          top:0;
          right:0;
          height:2px;
          width:0;
          background: rgba(93, 28, 154, 0.86);
          transition:400ms ease all;
        }
        button:after{
          right:inherit;
          top:inherit;
          left:0;
          bottom:0;
        }
        button:hover:before,button:hover:after{
          width:100%;
          transition:800ms ease all;
        }

