*{
        font-family: 'Jua', sans-serif;
    }

    body {
        width: 100%;
        height: 300px;

        background-image: url(http://image.genie.co.kr/Y/IMAGE/IMG_ALBUM/081/223/125/81223125_1560161529492_1_600x600.JPG);
        background-position: center 34%;
        background-size: cover;

        color: black;

    }

    .main {
        width: 250px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto 300px 40px auto;

    }

    .logo {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    #login {
        width: 100%;
        background-color: skyblue;
        border-color: transparent;
        color: black;
    }

    .account {
        width: 227px;
        display: block;
        margin-bottom: 3px;
        padding: 3px;
        border: 1px solid lightgray;
        border-radius: 3px;
    }

    #alert {
        border-color: transparent;
    }

    .baststreaming {
        width: 50%;
        height: 70%;
        margin: 50px 20px auto 100px;
    }

    .ratio {
        width: 50%;
        height: 400px;
        float: left;
        position: absolute;
    }

    .streamingtxt {
        width: 30%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        margin: 100px auto auto 700px;
    }