.nav-section {
    width: 100%;
    height: 250px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cards-box {
    margin: auto;
    width: 95%;
    max-width: 1500px;
}
.card {
    margin-right: 10px;
}

#post-btn {
    margin-top: 35px;
}


.comment_box {
    margin-top: 20px;
    max-width: 750px;
    width: 95%;
}

.post_box {
    max-width: 766px;
    width: 95%;

    background-color: beige;

    padding: 20px;
    margin: 20px 0 auto 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

