* {
    font-family: 'Jua', sans-serif;
  }

.nav-section {
    width: 100%;
    height: 250px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cards-box {
    margin: auto;
    width: 95%;
    max-width: 1500px;
}
.card {
    margin-right: 10px;
}

#post-btn {
    margin-top: 35px;
}