@import "main.css";
#live_like_section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#live_section {
     margin: auto;
     width: 95%;
     max-width: 1500px;
}

#profile_section {
    padding-top: 20px;
    margin: auto;
    height: 100%;
}

#profile_section p {
    font-size: 50px;
}

h3 {
    font-size: 70px;
}




