<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="URLIVE" />
	<meta property="og:description" content="당신의 심장을 뛰게 한 인생 라이브는 무엇인가요?" />
	<meta property="og:image" content="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>Urlive</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="../static/login.js">


    </script>
</head>

<body>
 		<div class="homebtn">
            <button onclick="gotohome()" type="button" class="btn btn-outline-danger">뒤로가기</button>
        </div>
	<div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="login">
					<label for="chk" aria-hidden="true">로그인</label>
					<input type="text" placeholder="로그인" id="id">
					<input type="password" placeholder="비밀번호" id="password">
					<button onclick="login()" id="login" >로그인</button>
			</div>

			<div class="signup">
					<label for="chk" aria-hidden="true">회원가입</label>
					<input type="text" id="register-id" placeholder="아이디">
					<input type="password"  id="register-password" placeholder="비밀번호">
                    <input type="password"  id="register-password-check" placeholder="비밀번호확인">
					<button onclick="register()" id="signup">회원가입</button>
			</div>
	</div>
</body>
</html>