<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/manual.js"></script>
    <link rel="stylesheet" href="../static/manual.css">
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<nav class="nav-bar">
    <button id="nav-btn" onclick="gotohome()"  type="button" class="btn btn-outline-danger">홈</button>
</nav>
<div class="section1">
    <div class="step1">
        <img class="step1-img" src="../static/stepimg/step1.png"/>
        youtube url을 등록해보세요!
    </div>
    <div class="step2">
        <img class="step2-img" src="../static/stepimg/step2.png"/>
        좋아요와 댓글로 소통해보세요!
    </div>
</div>
<div class="section2">
    <div class="step3">
        <img class="step3-img" src="../static/stepimg/step4.png"/>
        나만의 프로필 사진을 올려보세요!
    </div>
    <div class="step4">
        <img class="step4-img" src="../static/stepimg/step5.png"/>
        내가 좋아요한 영상과 업로드한 영상을 확인해보세요!
    </div>
</div>
</body>
</html>